/DEPRECATED/*
/data/*
matlab/
!matlab/other
caiman_online.egg-info/
*.pyc
*.npz
*.hdf5
*.json
*.pyc
*.asv
*.code-workspace
*.xml
*.iml
*.pyc
*.code-workspace
*.pyc
*.pyc
*.pyc
.vscode/settings.json
.vscode/settings.json
*.mmap
